<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script>
        $(document).ready(function(){

            $("#submit").click(function(){
                var firstName,lastName, birthday, email, status, password;
                birthday = $("#bday").val();
                firstName=$("#firstName").val();
                lastName=$("#lastName").val();
                email=$("#email").val();
                status=$("#status").val();
                password=$("#password").val();
                $.post("http://"+window.location.hostname+":3000/users", {firstName: firstName, lastName: lastName, birthDate: birthday, email: email, status: status, password: password}, function(data){
                    if(data==='done')
                    {
                        alert("login success");
                    }
                });
            });

            $("#updateProfile").click(function(){
                var firstName,lastName, birthday, email, status, password;
                birthday = $("#bday").val();
                firstName=$("#firstName").val();
                lastName=$("#lastName").val();
                email=$("#email").val();
                status=$("#status").val();
                password=$("#password").val();
                var profileId;
                profileId = $("#profileId").val();
                $.patch("http://"+window.location.hostname+":3000/users/"+profileId, {firstName: firstName, lastName: lastName, birthDate: birthday, email: email, status: status, password: password}, function(data){
                    if(data==='done')
                    {
                        alert("login success");
                    }
                });
            });

            $("#getProfile").click(function(){
                var profileId;
                profileId = $("#profileId").val();
                $.get("http://"+window.location.hostname+":3000/users/"+profileId, function(data){
                    $("#bday").val(data.birthDate);
                    $("#firstName").val(data.firstName);
                    $("#lastName").val(data.lastName);
                    $("#email").val(data.email);
                    $("#status").val(data.status);
                    $("#password").val(data.password);
                });
            });


        });
    </script>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<form action="/users/5?_method=PATCH" method="post">
    <input name="firstName" type="text">
    <button type="submit">Submit</button>

</form>

First Name: <input type="TEXT" id="firstName" size="40"><br>
Last Name: <input type="TEXT" id="lastName" size="40"><br>
Birthday: <input type="date" id="bday"><br>
E-Mail:<input type="TEXT" id="email" size="40"><br>
Status: <input type="TEXT" id="status" size="40"><br>
Password: <input type="password" id="password" size="40"><br>
<input type="button" id="submit" value="Submit"><br>

<br>
<br>
Profile ID: <input type="TEXT" id="profileId" size="40"><br>
<input type="button" id="getProfile" value="GetProfile"><br>
<input type="button" id="updateProfile" value="UpdateProfile">

</body>
</html>