<% include partials/head %>
<% if (activeUser) { %>
    <% include partials/nav %>
<% } %>
<main class="container">
    <% include partials/flashMessages %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (activeUser) { %>
        <p>You are logged in as <%= activeUser.firstName %>.</p>
    <% } else { %>
        <p>You are not logged in.</p>
    <% } %>
</main>
<% include partials/scripts %>
<% include partials/footer %>
