<% include partials/head %>
<% if (activeUser) { %>
<% include partials/nav %>
<% } %>
<main class="container">
    <% include partials/flashMessages %>
    <h1><%= title %></h1>
    <p>You are logged in as <%= activeUser.firstName %>.</p>
</main>
<% include partials/scripts %>
<% include partials/footer %>
