<% include partials/head %>
<% include partials/nav %>
<main class="container">
    <% include partials/flashMessages %>
    <h1>Yeah! You've searched for <%= searchQuery %></h1>
    <p>
        This is where search results would normally appear, if an actual search function had been implemented...<br />
        Instead, enjoy this cat GIF while we are working hard to get this going:
    </p>
    <img src="https://media.giphy.com/media/mlvseq9yvZhba/giphy.gif" />
</main>
<% include partials/scripts %>
<% include partials/footer %>
