$primary-color: #007bff;
$color-on-primary: #fff;
$text-color: #333;

nav {
    &.navbar {
        background: $primary-color;
        color: $color-on-primary;
        .navbar-wrapper {
            margin: 0 auto;
            padding: 0 15px;
            display: block;
            @media (min-width: 576px) {
                max-width: 540px;
            }
            @media (min-width: 768px) {
                max-width: 720px;
            }
            @media (min-width: 992px) {
                max-width: 960px;
            }
            @media (min-width: 1200px) {
                max-width: 1140px;
            }
            width: 100%;
        }
        a, a.nav-link {
            color: $color-on-primary;
        }
        .dropdown-menu {
            margin-top: 0;
            a, a.nav-link {
                color: $text-color;
            }
        }
        .dropdown:hover > .dropdown-menu {
            display: block;
        }
        .search-wrapper {
            margin: 0 auto;
            opacity: 0.5;
            width: 55%;
            max-width: 55%;
            transition: 0.2s opacity ease-in-out;
            &:active, &:focus-within {
                opacity: 1;
            }
            .search {
                background: #fff;
                padding: .3em .5em;
                input.search-input {
                    background: transparent;
                    border: none;
                    width: auto;

                    &:active, &:focus {
                        box-shadow: none;
                        outline: none;
                    }
                }
                button.search-button {
                    background: transparent;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}

main {
    margin-top: 5rem;
}

.button-list {
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    & > a, & > button {
        margin: 0 .5em;
    }
}
