<% include ../partials/head %>
<% include ../partials/nav %>
<main class="container">
    <% include ../partials/flashMessages %>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><%= tag.name %></h5>
            <p class="card-text"><%= tag.description %></p>
        </div>
    </div>
</main>
<% include ../partials/scripts %>
<% include ../partials/footer %>
