<% include ../partials/head %>
<% include ../partials/nav %>
<main>
    <form action="/users/?_method=DELETE"  method="post">
        <button type="submit" class="btn btn-primary">Delete profile</button>
    </form>
</main>
<% include ../partials/footer %>