<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
	<main id="goodbyeScreen">
		Your profile has been deleted. <br>
		We are sad to see you go but hope you had a fun time.</br>
		Goodbye!</br>
	</main>
  </body>
</html>
