<% include ../partials/head %>
<% include ../partials/nav %>
<main>
    <form action="/users/?_method=DELETE"  method="post">
        <button type="submit" class="btn btn-primary">Delete chat</button>
    </form>
</main>
<% include partials/scripts %>
<% include ../partials/footer %>
