<% include ../partials/head %>
<% include ../partials/nav %>
<main>
    <%= chats %>
    <div class="row">
        <nav class="col-md-2 sidebar">
            <ul class="nav">
                <% chats.forEach(function(chat) { %>
                <li class="nav-item">
                    <a href="/chats/<%= chat._id %>/messages" class="nav-link"></a><%= chat.name %>
                </li>
                <% }); %>
            </ul>
        </nav>
    </div>
</main>
<% include ../partials/scripts %>
<% include ../partials/footer %>
